[submodule "Table/vendor/spdlog"]
	path = Table/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Table/vendor/GLFW"]
	path = Table/vendor/GLFW
	url = ../../liangliang24/glfw.git
	branch = master
[submodule "Table/vendor/imgui"]
	path = Table/vendor/imgui
	url = ../../liangliang24/imgui.git
	branch = docking
[submodule "Table/vendor/glm"]
	path = Table/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Table/vendor/yaml-cpp"]
	path = Table/vendor/yaml-cpp
	url = https://github.com/liangliang24/yaml-cpp
[submodule "Table/vendor/Imguizmo"]
	path = Table/vendor/Imguizmo
	url = https://github.com/liangliang24/ImGuizmo
[submodule "Table/vendor/Box2D"]
	path = Table/vendor/Box2D
	url = https://github.com/liangliang24/box2d
