# Binaries
bin/
!Build/premake/bin
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.cache
Card/TableProfile-Runtime.json
Card/TableProfile-Shutdown.json
Card/TableProfile_Startup.json
*.log
*.json
