# Binaries
bin/
!vendor/bin/premake/premake.exe
bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
Card/TableProfile-Runtime.json
Card/TableProfile-Shutdown.json
Card/TableProfile_Startup.json
*.log
